<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifcVisitors"
        tools:targetApi="31">
        <activity
            android:name=".Office_boyassign"
            android:exported="false" />
        <activity
            android:name=".Visitorrequestcome_to_emplpyee"
            android:exported="false" />
        <activity
            android:name=".New_visitordetail"
            android:exported="false" />
        <activity
            android:name=".GuardDashboard"
            android:exported="false" />
        <activity
            android:name=".Gaurdchangepassword"
            android:exported="false" />
        <activity
            android:name=".Gaurdforgetotp"
            android:exported="false" />
        <activity
            android:name=".Gaurdforgetpswd"
            android:exported="false" />
        <activity
            android:name=".GaurdLogin"
            android:exported="false"/>
        <activity
            android:name=".Gaurd_createpswd"
            android:exported="false"/>
        <activity
            android:name=".Gaurdotp_verification"
            android:exported="false"/>
        <activity
            android:name=".Gaurdregistration"
            android:exported="false"/>
        <activity
            android:name=".EmployeeDashboard"
            android:exported="false"/>
        <activity
            android:name=".Forgetcreatepswemployee"
            android:exported="false"/>
        <activity
            android:name=".Employeeotpverification"
            android:exported="false"/>
        <activity
            android:name=".Forgetpsw"
            android:exported="false"/>
        <activity
            android:name=".Employeelogin"
            android:exported="false"/>
        <activity
            android:name=".EmpcreatepswActivity"
            android:exported="false"/>
        <activity
            android:name=".Otpverification"
            android:exported="false"/>
        <activity
            android:name=".EmployeeRegistratinActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>